.moviesGrid{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 20px;
    
}
.title{
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
}